@media (min-width: 1350px) {
  .container {
    max-width: 1305px
  }
}

@media (max-width: 1305px) {
  // MAIN BLOCK
  .main-block .main-block-slider .slick-dots {
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 26px;
  }
}

@media (max-width: 1024px) {
  // HEADER
  .header-nav {
    display: none;
  }
  .header {
    height: 56px;

    .burger {
      display: block;
    }

    .soc-link {
      width: 28px;
      height: 28px;

      .soc-link-icon {
        width: 10px;
        height: 10px;
      }
    }

    .header-logo {
      height: 28px;
      margin-left: 23px;
    }

    .contacts {
      margin-left: 15px;
    }

    .tel-number {
      font-size: 20px !important;
    }

    .subtitle {
      font-size: 12px;
    }
  }

  // MAIN BLOCK
  .main-block-item {
    height: 968px !important;

    .title {
      font-size: 50px;
    }
  }
  .main-block-subtitle {
    color: white !important;
    font-size: 18px !important;
  }
  .main-block-image {
    .full {
      background-position: 40%;
    }
  }

  // PROMOS
  .promos-slider {
    &-buttons {
      right: calc(((100vw - 960px) / 2));
    }

    .slick-dots {
      right: 50%;
      transform: translate(50%, 0);
      bottom: -70px;

      li:not(.slick-active) {
        background-color: #1F1F2C;
      }
    }
  }

  // WORKS
  .works {
    .works-slider {
      overflow: hidden;
    }

    .works-slider-buttons {
      display: none;
    }

    .works-item {
      width: 100%;
      margin-left: 0;
      padding-top: 33px;
    }

    .works-header {
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 23px;
    }

    .works-header-title {
      font-size: 44px;
      margin-bottom: 25px;
    }

    .works-show-more {
      display: block;
    }
  }

  // FAQ
  .faq-title {
    font-size: 44px !important;
    margin-top: 100px !important;
  }
  .faq-wrapper {
    grid-template-columns: 1fr !important;
    grid-template-rows: auto auto;
    grid-template-areas:
    "image"
    ".";

    margin-top: -120px !important;

    .faq-content {
      margin-top: 44px !important;
    }

    .faq-image {
      grid-area: image;
      overflow: hidden;
      img {
        margin-left: -40px;
        width: 110%;
      }
    }
  }
}

@media (max-width: 768px) {
  // PROMOS
  .promos {
    padding-top: 50px;
  }
  .promos-slider {
    .promo-item-wrapper {
      flex-direction: column;
    }

    .promo-item-image {
      min-width: auto;
      width: 100%;
    }

    .promo-item-badge {
      position: relative;
      top: 0;
      min-width: auto;
      width: 100%;
      padding: 50px 30px;

      .text {
        font-size: 26px;
      }

      .percent {
        font-size: 50px;
      }

      .promo-item-button {
        margin-top: 25px;
        margin-left: -63px;
        text-align: center;
      }
    }
  }
  .promos-slider-buttons {
    position: relative;
    right: 0 !important;
    width: 100%;
    margin-top: 35px;

    .slider-buttons {
      justify-content: space-between;
    }
  }

  // WORKS
  .works {
    padding-top: 50px;
  }
  .works-header {
    padding-bottom: 0 !important;
  }

  // FACTS
  .facts {
    padding-top: 50px;

    .facts-slider {
      padding-top: 60px;
    }

    .facts-text-content {
      padding-top: 36px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 25px 0;

      .facts-text {
        font-weight: 300;
        font-size: 18px;
        line-height: 159.69%;
        color: #7A7A7A;
      }
    }
  }

  // ACCORDION
  .accordion-title {
    padding: 46px 35px;
    font-size: 30px;
    &:after {
      width: 20px;
      height: 20px;
      top: calc(50% - 20px);
    }
  }
  .accordion-content {
    font-size: 18px;
    padding: 0 35px 46px 35px;
  }
}

@media (max-width: 425px) {
  // HEADER
  .header {
    display: none;
  }
  .header-mob {
    display: block;
  }

  // MAIN BLOCK
  .main-block-item {
    height: 592px !important;

    .title {
      font-size: 34px;
      text-align: center;
    }
  }
  .main-block-content {
    //background-position: 46% 100%;
    .container {
      height: 100%;
    }

    .main-block-content__inner {
      width: 100%;
      height: 100%;
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
  .main-block-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-block-subtitle {
    font-size: 13px !important;
    line-height: 135.5% !important;
    text-align: center !important;
    color: #D4D4D4 !important;
    text-transform: none !important;
    margin-top: 13px !important;
  }
  .main-block-image {
    .full {
      display: none;
    }

    .mob {
      display: block !important;
    }
  }

  // PROMOS SLIDER
  .promos-slider {
    .promo-item-badge {
      .text {
        font-size: 16px;
      }

      .percent {
        font-size: 30px;
      }
    }

    .promo-item-button {
      margin-left: 0 !important;
      text-align: left !important;
      margin-top: 14px !important;
    }
  }

  // WORKS
  .works {
    .works-header-title {
      font-size: 22px !important;
      margin-bottom: 10px !important;
    }

    .watch-all {
      font-size: 18px !important;
    }
  }

  // FACTS
  .facts {
    .facts-title {
      font-size: 22px !important;
    }

    .facts-text {
      font-size: 14px !important;
    }

    .facts-text-content {
      grid-gap: 17px 0;
    }

    .facts-slider {
      padding-top: 39px;
    }
  }

  // FAQ
  .faq-title {
    font-size: 22px !important;
    margin-top: 44px !important;
  }
  .faq-wrapper {

    margin-top: -40px !important;

    .faq-content {
      margin-top: 44px !important;
    }

    .faq-image {
      grid-area: image;
      overflow: hidden;
      img {
        margin-left: -40px;
        width: 110%;
      }
    }
  }

  // BUTTONS
  .button {
    font-size: 13px;
  }
  .button-green {
    border-radius: 4px;
  }
  .button-line-left {
    margin-left: 0;

    &:after {
      display: none;
    }
  }

  // LINE RIDER
  .line-rider {
    display: none;
  }

  // ACCORDION
  .accordion-title {
    padding: 24px 18px;
    font-size: 16px;
    &:after {
      width: 10px;
      height: 10px;
      top: calc(50% - 10px);
    }
  }
  .accordion-content {
    font-size: 14px;
    padding: 0 18px 30px 18px;
  }
}
