.works {
  padding-top: 140px;
  position: relative;

  .works-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 34px;

    .works-header-title {
      font-weight: 800;
      font-size: 35px;
      line-height: 115.5%;
      letter-spacing: 0.055em;
      text-transform: uppercase;
      color: #D9D9D9;
      text-shadow: 4px 4px 80px rgba(239, 96, 190, 0.82);

      span {
        color: #EF60BE;
      }
    }

    .watch-all a {
      font-size: 14px;
      line-height: 115.5%;
      text-transform: uppercase;
      color: #9893A9;
      text-decoration: none;
      transition: .3s all ease-in-out;

      &:hover {
        text-decoration: none;
        color: white;
      }
    }
  }

  .works-item {
    width: 40%;
    transition: .3s all ease-in-out;
    padding-top: 40px;
    margin-left: 60px;

    img {
      transition: .3s all ease-in-out;
      width: 100%;
    }

    &.is-selected {
      width: 60%;
      padding-top: 0px;
    }
  }

  .flickity-page-dots {
    list-style-type: none;
    display: flex;
    position: absolute;
    bottom: 40px;
    left: 13%;

    li {
      width: 26px;
      height: 2px;
      background-color: #fff;
      border-radius: 5px;
      cursor: pointer;

      &.is-selected {
        background: linear-gradient(138.21deg, #74e075 5.37%, #42922e 101.49%);
      }
    }

    li + li {
      margin-left: 12px;
    }
  }

  .works-slider-buttons {
    position: absolute;
    bottom: 30px;
    left: 32.5%;
  }

  .works-slider {
    outline: none;
    border: none;
    transition: .3s all ease-in-out;
  }

  .works-show-more {
    display: none;
    padding-top: 27px;
    .button {
      width: 100%;
    }
  }
}

.works-slider-wrapper {
  overflow: hidden;
}